{% extends "base_hp.html" %}
{% block content %}
  <!-- TO DO List -->
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>
      <h3 class="box-title">Malumotla</h3>
      <div class="box-tools pull-right">
        
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Murojatlar</th>
            <th scope="col">O`rinbosar</th>
            <th scope="col">Tashkilot</th>
          </tr>
        </thead>
        <tbody>
          {% for ariza in ariza %}
          <tr>
            <th scope="row">{{ ariza.id }}</th>
            <td>{{ ariza.murajat }}</td>
            <td>{{ ariza.orinbosar }}</td>
            <td>{{ ariza.tashkilot }}</td>
          </tr>
        {% empty %}
            <tr>
              <td>Bajarilgan Murojatlar Yo`q</th>
              <th scope="row">{{ ariza.id }}</th>
              <td>{{ ariza.murajat }}</td>
              <td>{{ ariza.orinbosar }}</td>
              <td>{{ ariza.tashkilot }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- /.box-body -->
    
  </div><!-- /.box -->
{% endblock content %}