{% extends "base_hp.html" %}
{% block content %}
  <!-- TO DO List -->
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>
      <h3 class="box-title">Malumotlar</h3>
      <div class="box-tools pull-right">
        
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ism Familiya Sharif</th>
            <th scope="col">Id Passpord</th>
            <th scope="col">Yash Manzili</th>
            <th scope="col">MFY Nomi</th>
            <th scope="col">Ko`cha Nomi</th>
            <th scope="col">Tel Raqam</th>
            <th scope="col">Rasm yoki Vidio</th>
            <th scope="col">Ariza Tur</th>
          </tr>
        </thead>
        <tbody>
        {% for ariza in ariza %}
          <tr>
            <th scope="row">{{ ariza.id }}</th>
            <td>{{ ariza.fish }}</td>
            <td>{{ ariza.idpassport }}</td>
            <td>{{ ariza.Yashashmanzili }}</td>
            <td>{{ ariza.mfynomi }}</td>
            <td>{{ ariza.kochanomi }}</td>
            <td>{{ ariza.telefonraqami }}</td>
            <td>{{ ariza.rasmvavidio }}</td>
            <td>{{ ariza.ariza_mazmuni }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- /.box-body -->
    
  </div><!-- /.box -->
{% endblock content %}