{% extends "base_hp.html" %}
{% block content %}
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ hammasi }}</h3>
                  <p>Barcha Murojatlar</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'barchasi' %}" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ bajargan }}</h3>
                  <p>Bajarilgan Murojatlar</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url "bajarilgan" %}" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ muddati_otkan }}</h3>
                  <p>Muddati O`tkan Murojatlar</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url "md" %}" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{ bajarilmagan }}</h3>
                  <p>Bajarilmagan Murojatlar</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url "bj" %}" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          {% if request.user.username == 'hokim' %}
          <div class="lerow" style="display:flex ;">
            <div style="width: 1000px;float: left;">
              <canvas id="myChart"></canvas>
            </div>
            <div style="width: 1000px;">
              <canvas id="myChart2"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx = document.getElementById('myChart');
            const ctx2 = document.getElementById('myChart2');
            new Chart(ctx, {
              type: 'line',
              
              data: {
                labels: ['barcha So`rovlar', 'bajargan So`rovlar', 'bajarilmagan So`rovlar', 'muddati_otkan So`rovlar',],
                datasets: [{
                  label: 'chiziqli Diagramma',
                  data: [{{ hammasi }},{{ bajargan }},{{ bajarilmagan }},{{ muddati_otkan }}],
                  borderWidth: 0.7,
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                  borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
            new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['barcha So`rovlar', 'bajargan So`rovlar', 'bajarilmagan So`rovlar', 'muddati_otkan So`rovlar',],
                    datasets: [{
                        label: 'bar diagramma',
                        data: [{{ hammasi }},{{ bajargan }},{{ bajarilmagan }},{{ muddati_otkan }}],
                        borderWidth: 1
                      
                    }]


            },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                }
            }
            }
            });
          </script>
          </div>
          
          
          
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          {% endif %}
              <!-- TO DO List -->
              <div class="box box-primary">
                <div class="box-header">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Malumotlar</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ism Familiya Sharif</th>
                        <th scope="col">Id Passpord</th>
                        <th scope="col">Yash Manzili</th>
                        <th scope="col">MFY Nomi</th>
                        <th scope="col">Ko`cha Nomi</th>
                        <th scope="col">Tel Raqam</th>
                        <th scope="col">Rasm yoki Vidio</th>
                        <th scope="col">Ariza Tur</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for ariza in ariza %}
                      <tr>
                        <th scope="row">{{ ariza.id }}</th>
                        <td>{{ ariza.fish }}</td>
                        <td>{{ ariza.idpassport }}</td>
                        <td>{{ ariza.Yashashmanzili }}</td>
                        <td>{{ ariza.mfynomi }}</td>
                        <td>{{ ariza.kochanomi }}</td>
                        <td>{{ ariza.telefonraqami }}</td>
                        <td>{{ ariza.rasmvavidio }}</td>
                        <td>{{ ariza.ariza_mazmuni }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
                
              </div><!-- /.box -->
              


             
                 

            </section><!-- right col -->
          </div><!-- /.row (main row) -->
          
        </section><!-- /.content -->
        <script>
          // <![CDATA[  <-- For SVG support
          if ('WebSocket' in window) {
            (function () {
              function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                  var elem = sheets[i];
                  var parent = elem.parentElement || head;
                  parent.removeChild(elem);
                  var rel = elem.rel;
                  if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                  }
                  parent.appendChild(elem);
                }
              }
              var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
              var address = protocol + window.location.host + window.location.pathname + '/ws';
              var socket = new WebSocket(address);
              socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
              };
              if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
              }
            })();
          }
          else {
            console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
          }
          // ]]>
        </script>
{% endblock content %}
