{% extends "base_hp.html" %}
{% block content %}
              <!-- TO DO List -->
              <div class="box box-primary">
                <div class="box-header">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Tashkilot</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Murojat qilgan fuqoro</th>
                        <th scope="col">orinbosar</th>
                        <th scope="col">Tashkilot</th>
                        <th scope="col">Ko`rish</th>
                        <th scope="col">O`chirish</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for hok in hok %}
                      <tr>
                        <th scope="row">{{ forloop.count }}</th>
                        <td>{{ hok.tel_name }}</td>
                        <td>{{ hok.orinbosar}}</td>
                        <td>{{ hok.tashkilot }}</td>
                        <td><a href='{% url "bja" hok.pk %}'>bajarildi</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  
                </div><!-- /.box-body -->
                
              </div><!-- /.box -->
{% endblock content %}
