{% extends "base_hp.html" %}
{% block content %}
 <!-- TO DO List -->
 <div class="box box-primary">
    <div class="box-header">
      <div class="box-tools pull-right">
        
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <ul>
                    <li><a href="{% url "at1" %}">sud  masalalari </a></li>
                    <li><a href="{% url "at2" %}">ichki ishlar  faol.</a></li>
                    <li><a href="{% url "at3" %}">prokuratura faol. oid</a></li>
                    <li><a href="{% url "at4" %}">aliment masalasi</a></li>
                    <li><a href="{% url "at5" %}">sud  ijrosiga oid</a></li>
                    <li><a href="{% url "at6" %}">sog‘liqni saqlash</a></li>
                    <li><a href="{% url "at7" %}">pensiya va nafaqa</a></li>
                    <li><a href="{% url "at8" %}">maktab  ta’limi</a></li>
                    <li><a href="{% url "at9" %}">uy-joy, yer b-n ta’m.</a></li>
                    <li><a href="{% url "at10" %}">ish b-n ta’minlash</a></li>
                    <li><a href="{% url "at11" %}">afv etish masalasi</a></li>
                    <li><a href="{% url "at12" %}">oliy ta’lim masalalari</a></li>
                    <li><a href="{% url "at13" %}">kredit olish</a></li>
                    <li><a href="{% url "at14" %}">bank-moliya masalalari</a></li>
                    <li><a href="{% url "at15" %}">gaz, elektr, suv, issiqlik ta’minoti</a></li>
                    <li><a href="{% url "at16" %}">kommunal to‘lovlarni hisoblash</a></li>
                    <li><a href="{% url "at17" %}">soliq to‘lovlari</a></li>
                    <li><a href="{% url "at18" %}">transport masalalari</a></li>
                    <li><a href="{% url "at19" %}">qurilish sohasi</a></li>
                    <li><a href="{% url "at20" %}">tadbirkorlik  huquklarini buzulishi</a></li>
                    <li><a href="{% url "at21" %}">san’-at, ma’rifat va madaniyat masalalari</a></li>
                    <li><a href="{% url "at22" %}">dori-darmonga narx-navo masalasi</a></li>
                    <li><a href="{% url "at23" %}">birinchi ehtiyoj mollariga narx-navo masalalari</a></li>
                    <li><a href="{% url "at24" %}">davlat  xizmati faoliyati</a></li>
                    <li><a href="{% url "at25" %}">moddiy  yordam  olish</a></li>
                    <li><a href="{% url "at27" %}">boshqa masalalar</a></li>          
                  </ul>
            </th>
          </tr>
        </tbody>
      </table>
    </div><!-- /.box-body -->
    
  </div><!-- /.box -->
{% endblock content %}